In [0]:
employee = [(1,'Sagar',23),
            (2,None,34),
            (None,'John',46),
            (5,'Alex',None),
            (4,'Alice',None)]

In [0]:
employee_schema = 'emp_id int,name string,age int'

In [0]:
emp_df = spark.createDataFrame(employee , employee_schema)

In [0]:
emp_df.show()

+------+-----+----+
|emp_id| name| age|
+------+-----+----+
|     1|Sagar|  23|
|     2| null|  34|
|  null| John|  46|
|     5| Alex|null|
|     4|Alice|null|
+------+-----+----+

In [0]:
from pyspark.sql.functions import col,count,when

In [0]:
df1 = emp_df.select([count(when(col(i).isNull(),1)).alias(i) for i in emp_df.columns])

In [0]:
df1.show()

+------+----+---+
|emp_id|name|age|
+------+----+---+
|     1|   1|  2|
+------+----+---+